  <div class="banner-container">

    <section class="logo-container">
      <img class="logo" src="assets/images/logo2.png" alt="logo">
    </section>

    <section class= "welcome-container">
      <header class="title">Сэкономь свои деньги и время</ header>
      <p class="description">lemon.club - это первый в Казахстане сайт, где собраны все действующие скидки и акции города на одежду и аксессуары</p>
      <a class="ref-to-website" href="#">Перейти на сайт</a>
    </section>

  </div>

  <div class="UVP">
    <h2 class="paragraph-title">Ценностное Предложение</h2>
    <div class="uvp-body">
      <h2 class="uvp-text">Устали ходить по магазинам в поисках скидок и акции?</h2>
      <img class="uvp-images" src="assets/images/shopping.jpg" alt="shopping">
      <img class="uvp-images" src="assets/images/comparing-prices.jpg" alt="compare clothing prices">
      <h2 class="uvp-text">Хочешь сравнивать цены в магазинах, не выходя из дома?</h2>
      <h2 class="uvp-text">Карантин ударил по кошельку, но хочется сменить образ?</h2>
      <img class="uvp-images" src="assets/images/empty-wallet.jpg" alt="empty wallet">
      <img class="uvp-images" src="assets/images/hot-sale.jpg" alt="hot sale">
      <h2 class="uvp-text">Грядет вторая волна коронавируса, успейте обновить свой гардероб по горящим скидкам и акциям</h2>
    </div>
    <a class="ref-to-website" href="#">Перейти на сайт</a>
  </div>


  <div class="advantages-container">
    <h2 class="paragraph-title">Наши Преимущества</h2>
    <div class="adv-images-container">
      <img class="adv-images" src="https://www.flaticon.com/svg/static/icons/svg/1154/1154158.svg" alt="economy">
      <img class="adv-images" src="https://image.flaticon.com/icons/png/512/2936/2936744.png" alt="markup">
      <img class="adv-images" src="https://as2.ftcdn.net/jpg/01/87/66/89/500_F_187668973_axbFCFYZWhuwcgAAffREGrjIDj9avXVM.jpg" alt="original">
    </div>

  </div>
  <footer>
  </footer>
