  <div class="banner container">

    <div class="logo-container">
      <img class="logo" src="assets/images/logo2.png" alt="logo">
    </div>

    <div class= "welcome-container">
      <nav>
        <ul class="navbar">
          <li ><a class="nav-item" href="#about us">О нас</a></li>
          <li ><a class="nav-item" href="#adv">Наши преимущества</a></li>
          <li ><a class="nav-item" href="#our team">Наша команда</a></li>
          <li ><a class="nav-item" href="#contacts">Контакты</a></li>
        </ul>
      </nav>


      <header class="title">Сэкономь свои деньги и время</ header>
      <p class="description">lemon.com - это первый в Казахстане сайт, где собраны все действующие скидки и акции города на одежду и аксессуары</p>
      <a class="ref-to-website" href="#">Перейти на сайт</a>
    </div>

  </div> <!--container-->

  <div class="about-us container">
    <p><a name="about us"></a></p>
    <h2 class="paragraph-title">О нас</h2>
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRvp_H6fp9Ihp7MTakNOLN-hvOYdYc5UElwhclSxOtKMufxdc9_UM-nhB8fS3bnonrwYcf6entNq3WI/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div> <!--container-->

  <div class="UVP container">
    <h2 class="paragraph-title">Ценностное Предложение</h2>
    <div class="col body-container">

      <div class="col uvp">
        <h2 class="uvp-text">Устали ходить по магазинам в поисках скидок и акции?</h2>
        <img class="uvp-images" src="assets/images/shopping.jpg" alt="shopping">
      </div>

      <div class="col uvp">
        <img class="uvp-images" src="assets/images/comparing-prices.jpg" alt="compare clothing prices">
        <h2 class="uvp-text">Хочешь сравнивать цены в магазинах, не выходя из дома?</h2>
      </div>

      <div class="col uvp">
        <h2 class="uvp-text">Карантин ударил по кошельку, но хочется сменить образ?</h2>
        <img class="uvp-images" src="assets/images/empty-wallet.jpg" alt="empty wallet">
      </div>

      <div class="col uvp">
        <img class="uvp-images" src="assets/images/hot-sale.jpg" alt="hot sale">
        <h2 class="uvp-text">Грядет вторая волна коронавируса, успейте обновить свой гардероб по горящим скидкам и акциям</h2>
      </div>

    </div> <!--body container-->
    <a class="ref-to-website" href="#">Перейти на сайт</a>
  </div>

  <div class="advantages container">
    <p><a name="adv"></a></p>
    <h2 class="paragraph-title">Наши Преимущества</h2>
    <div class="body-container">
      <div class="col">
        <img class="adv-images" src="https://www.flaticon.com/svg/static/icons/svg/1154/1154158.svg" alt="economy">
        <h3 class="adv-title">Экономия</h3>
        <p class="adv-text">Мы экономим ваше время и деньги</p>
      </div>

      <div class="col">
        <img class="adv-images" src="https://image.flaticon.com/icons/png/512/2936/2936744.png" alt="markup">
        <h3 class="adv-title">Никаких наценок</h3>
        <p class="adv-text">Мы не делаем никаких наценок. Вы будете покупать у самих магазинов</p>
      </div>

      <div class="col">
        <img class="adv-images orig" src="https://as2.ftcdn.net/jpg/01/87/66/89/500_F_187668973_axbFCFYZWhuwcgAAffREGrjIDj9avXVM.jpg" alt="original">
        <h3 class="adv-title">Никаких реплик</h3>
        <p class="adv-text">Только оригинал. Мы сотрудничаем напрямую с брендами.</p>
      </div>

    </div> <!--body container-->

  </div> <!--container-->

  <div class="our-team container">
    <p><a name="our team"></a></p>
    <h2 class="paragraph-title">Наша Команда</h2>

    <div class="body-container">

      <div class="col">
        <img class="team-image dake" src="assets/images/Dake2.jpg" alt="team member">
        <h3 class="team-member">Муратулы Диас</h3>
        <p class="team-role">Chief Executive Officer</p>
        <p class="team-role">Hustler</p>
      </div>

      <div class="col">
        <img class="team-image" src="assets/images/Muba2.jpg" alt="team member">
        <h3 class="team-member">Турсынбеков Мубарак</h3>
        <p class="team-role">Chief Operating Officer</p>
        <p class="team-role">Product Manager, Hacker</p>
      </div>

      <div class="col">
        <img class="team-image" src="https://sun9-50.userapi.com/c846218/v846218327/ddb92/nOKof8jktwA.jpg" alt="team member">
        <h3 class="team-member">Түсіпов Қуаныш</h3>
        <p class="team-role">Chief Technology Officer</p>
        <p class="team-role">Hacker</p>
      </div>

    </div> <!--body container-->

  </div> <!--container-->

  <div class="contacts container">
    <p><a name="contacts"></a></p>
    <h2 class="paragraph-title">Контакты</h2>

    <div class="cont-body-container">
      <div class="col1">
        <p class="contact">Адрес: Казахстан, г. Алматы, ул. Толе Би 59</p>
        <p class="contact">Почта: <a href="mailto:lemon.group2020@gmail.com">lemon.group2020@gmail.com</a></p>
        <p class="contact">Телефон: <a href="tel:+77756831339">+77756831339</a></p>
      </div>

      <div class="col2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.820288385822!2d76.94094941513266!3d43.25518808609462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836e95de400b7f%3A0x26ab3634df1eae6b!2z0JrQsNC30LDRhdGB0YLQsNC90YHQutC-LdCR0YDQuNGC0LDQvdGB0LrQuNC5INGC0LXRhdC90LjRh9C10YHQutC40Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgg!5e0!3m2!1sru!2skz!4v1602196646918!5m2!1sru!2skz" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

    </div>

  </div> <!--container-->

  <footer>
    <div class="col foot">
      <h3 class="footer-title">Компания</h3>
      <a class="nav-item foot" href="#about us">О нас</a>
      <a class="nav-item foot" href="#adv">Наши преимущества</a>
      <a class="nav-item foot" href="#our team">Наша команда</a>
      <a class="nav-item foot" href="#contacts">Контакты</a>

    </div>

    <div class="col foot">
      <h3 class="footer-title">Партнерам</h3>
      <a class="nav-item foot" href="#">Партнерская программа</a>
      <a class="nav-item foot" href="#">Как начать сотруднияество</a>
      <a class="nav-item foot" href="#">Преимущества</a>
      <a class="nav-item foot" href="#">Вакансия</a>

    </div>

    <div class="col foot">
      <h3 class="footer-title">Мы в соцсетях</h3>
      <div class="media">
        <a href="https://t.me/Mtursynbekov" class="fa fa-telegram"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-facebook"></a>
      </div>

    </div>

  </footer>
