.container{
  text-align: center;
  margin-top: 3em;
  font-size: 1.8rem;
  font-weight: 300;
}

.banner{
  display: flex;
  flex-direction: row;
  background-color: #F1EC40;
  height: 110%;
  margin-top: 0;
}

.logo-container{
  width: 50%;
  background-color: #121212;
}

.logo{
  margin: 0 auto;
  width: 100%;
}

.welcome-container{
  width: 50%;
  text-align: center;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.nav-item{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-item:hover{
  color: #D84F00;  /*#989858; #B84300*/
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  text-align: center;
  color: #000;
}

.ref-to-website{
  background-color: #000;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: bold;
}

.ref-to-website:hover{
  padding: 0.8em 1.2em;
  font-size: 1.8rem;
  background-color: #0094B4;
}

.title{
  text-align: center;
  margin-top: 3em;
  font-weight: bold;
  font-size: 2.6rem;
}

.description{
  margin: 2em auto 3em auto;
  text-align: justify;
  max-width: 80%;
  font-size: 1.6rem;
}

.paragraph-title{
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UVP{
  text-align: center;
}

.col1-uvp{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.col2-uvp{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.col3-uvp{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.col4-uvp{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.uvp-text{
  color: #121212;
  font-weight: 500;
  font-size: 1.6rem;
  width: 40%;
  font-family: 'Source Sans Pro';
}

.uvp-images{
  width: 35%;
}

.body-container
{
  margin: 2em auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.adv-title{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  flex-grow: 1;
}

.adv-text{
  flex-grow: 1;
  text-align: justify;
  font-size: 1.2rem;
  color: #272727;
  width: 80%;
}

.adv-images{
  width: 40%;
  flex-grow: 1;
}

.orig{
  width: 50%;
}

.team-image{
  border-radius: 100%;
  width: 30%;
  flex-grow: 1;
}

.dake{
  width: 40%;
}

.team-member{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  flex-grow: 1;
}

.team-role{
  flex-grow: 1;
  text-align: center;
  font-size: 1.2rem;
  color: #272727;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.contacts{
  margin-bottom: 5em;
}

.cont-body-container{
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col1{
  margin-left: 1em;
  border: solid;
  flex-grow: 1
}

.col2{
  flex-grow: 2;
}

.map{
  width: 55%;
}

.contact{
  margin: 4em auto;
  font-size: 1.0rem;
}

footer{
  height: 30%;
  background-color: #121212;
  display: flex;
  justify-content: space-around;
}

.footer-title{
  font-size: 1.8em;
  font-weight: bold;
  color: #FFF;
}

.foot{
  color: #CCC;
  text-transform: none;
  align-items: flex-start;
}

.foot:hover{
  color: #FFF;
}

.media{
  display: flex;
  flex-direction: row;
}

.fa{
  margin: 0.5em 0.5em;
  padding: 0.5em 0.5em;
  font-size: 1.3rem;
  color: #CCC;
  border-style: solid;
  border-radius: 100%;
}

.fa:hover{
  color: #FFF;
}

@media (max-width:414px) {
    .container{
      margin-top: 2em;
      font-size: 1.2rem;
    }

    .banner{
      flex-direction: column;
      margin-top: 0;
    }

    .logo-container{
      width: 100%;
    }

    .welcome-container{
      width: 100%;
    }

    .navbar{
      flex-direction: column;
      margin: 0.5em auto;
      padding-left: 0;
      width: 100%;
    }

    .nav-item{
      font-size: 0.8rem;
    }

    .title{
      font-size: 1.4rem;
      margin: 2em auto 1em, auto;
    }

    .description{
      font-size: 1rem;
      margin: 1em auto 2em auto;
    }

    .ref-to-website{
      font-size: 1rem;
    }

    .ref-to-website:hover{
      font-size: 1.1rem;
    }

    .paragraph-title{
      font-size: 1.2rem;
    }

    .presentation{
      width:90%;
      height: 200px;
    }

    .col1-uvp{
      flex-direction: column;
    }

    .col2-uvp{
      flex-direction: column;
      margin-top: 1em;
    }

    .col3-uvp{
      flex-direction: column;
      margin-top: 1em;
    }

    .col4-uvp{
      flex-direction: column;
      margin-top: 1em;
    }

    .uvp-text{
      font-size: 1rem;
      width: 80%;
    }

    .uvp-images{
      width: 80%;
    }

    .body-container{
      flex-direction: column;
    }

    .adv-images{
      width: 30%;
    }

    .adv-title{
      font-size: 1rem;
      margin-bottom: 0;
    }

    .adv-text{
      font-size: 0.8rem;
      text-align: center;
    }

    .team-image{
        margin-top: 1em;
    }

    .dake{
      margin-top: 0;
      width: 30%;
    }

    .team-member{
      font-size: 1rem;
      margin-bottom: 0;
    }

    .team-role{
      font-size: 0.8rem;
    }

    .cont-body-container{
      flex-direction: column;
    }
    .col1{
      margin: 0 0.5em;
    }

    .contact{
      margin: 2em auto;
      font-size: 0.8rem;
    }

    .map{
      margin-top: 1em;
      width: 80%;
      height: 200px;
    }

    footer{
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 55%;
    }

    .footer-title{
      font-size: 1rem;
      text-align: center;
    }

    .foot{
      align-items: center;
    }
}



@media (max-width:375px) {
    .banner{
      height: 140%;
    }

    .title{
      margin: 1.5em auto 1em auto;
    }

    .presentation{
      width: 80%;
      height: 170px;
    }

    .uvp-images{
      width: 70%;
    }

    .map{
      height: 200px;
    }

    footer{
      height: 70%;
    }
}

@media (max-width:1024px) {

  .banner{
    height: 50%;
  }

  .title{
    margin: 0.5em auto 1em auto;
  }

  .presentation{
    width: 30%;
    height: 200px;
  }

  .uvp-images{
    width: 30%;
  }

  .map{
    height: 200px;
  }

  footer{
    height: 30%;

  }
}
