.container{
  text-align: center;
  margin-top: 3em;
  font-size: 2rem;
  font-weight: 300;
}

.banner{
  display: flex;
  flex-direction: row;
  background-color: #F1EC40;
  height: 110%;
  margin-top: 0;
}

.logo-container{
  width: 50%;
  background-color: #121212;
}

.logo{
  margin: 0 auto;
  width: 100%;
}

.welcome-container{
  width: 50%;
  text-align: center;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.nav-item{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-item:hover{
  color: #D84F00;  /*#989858; #B84300*/
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  text-align: center;
  color: #000;
}

.ref-to-website{
  background-color: #000;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: bold;
}

.ref-to-website:hover{
  padding: 0.8em 1.2em;
  font-size: 2rem;
  background-color: #0094B4;
}

.title{
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 2.8rem;
}

.description{
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  max-width: 80%;
  font-size: 1.8rem;
  margin-bottom: 3em;
}

.paragraph-title{
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UVP{
  text-align: center;
}

.uvp{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.uvp-text{
  color: #121212;
  font-weight: 500;
  font-size: 1.8rem;
  width: 40%;
  font-family: 'Source Sans Pro';
}

.uvp-images{
  width: 35%;
}

.body-container
{
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.adv-title{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  flex-grow: 1;
}

.adv-text{
  flex-grow: 1;
  text-align: justify;
  font-size: 1.4rem;
  color: #272727;
  width: 80%;
}

.adv-images{
  width: 40%;
  flex-grow: 1;
}

.orig{
  width: 50%;
}

.team-image{
  border-radius: 100%;
  width: 30%;
  flex-grow: 1;
}

.dake{
  width: 40%;
}

.team-member{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  flex-grow: 1;
}

.team-role{
  flex-grow: 1;
  text-align: center;
  font-size: 1.4rem;
  color: #272727;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.contacts{
  margin-bottom: 5em;
}

.cont-body-container{
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col1{
  margin-left: 1em;
  border: solid;
  flex-grow: 1
}

.col2{
  flex-grow: 2;
}

iframe{
  width: 55%;
  min-height: 10px;
}

.contact{
  margin: 4em auto;
  font-size: 1.2rem;
}

footer{
  height: 30%;
  background-color: #121212;
  display: flex;
  justify-content: space-around;
}

.footer-title{
  font-size: 2em;
  font-weight: bold;
  color: #FFF;
}

.foot{
  color: #CCC;
  text-transform: none;
  align-items: flex-start;
}

.foot:hover{
  color: #FFF;
}

.media{
  display: flex;
  flex-direction: row;
}

.fa{
  margin: 0.5em 0.5em;
  padding: 0.5em 0.5em;
  font-size: 1.5rem;
  color: #CCC;
  border-style: solid;
  border-radius: 100%;
}

.fa:hover{
  color: #FFF;
}
